
.header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom:20px;
}

.selector{
  display:inline-block; 
  width:100px; 
  line-height:50px; 
}

.selector > label{
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.findSection{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif; /* Apply Roboto font */
}

#find-id-btn {
 display: none;
}

#find-password-btn {
 display: none;
}

/* Styling the input fields and submit button */
.find_input input {
  border: 2px solid lightgrey;
  border-radius: 40px;
  outline: none;
  width: 98%;
  height: 30px;
  text-indent: 7px;
  margin-bottom: 8px;
}

/* Styling the submit button  input[type="submit"]*/
.submit_button input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 40px;
  outline: none;
  font-size: 14px;
  box-sizing: border-box; /* 추가: 박스 모델에 패딩과 테두리 포함 */
}

.button{
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 40px;
  outline: none;
  font-size: 14px;
  box-sizing: border-box; /* 추가: 박스 모델에 패딩과 테두리 포함 */
}

.button:hover{
    background-color: #0056b3;
}

/* Hover effect for the submit button */
.submit_button input[type="submit"]:hover {
  background-color: #0056b3;
}