.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif; /* Apply Roboto font */
}

.header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom:20px;
}

h2 {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.inputForm {
  display: inline-block;
  text-align: left;
}

/* Styling the input fields and submit button */
.typeInput input {
  border: 2px solid lightgrey;
  border-radius: 40px;
  outline: none;
  width: 98%;
  height: 30px;
  text-indent: 7px;
  margin-bottom: 8px;
}

/* Hover effect for the submit button */
.submit_button input[type="submit"]:hover,
.submit_button input[type="button"]:hover{
  background-color: #0056b3;
}

.submit_button input[type="submit"],
.submit_button input[type="button"]{
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 40px;
  outline: none;
  font-size: 14px;
  box-sizing: border-box; /* 추가: 박스 모델에 패딩과 테두리 포함 */
}

/* index.html */
.options{
    padding: 10px;
}

.options > a{
    color: black;
    text-decoration-line: none;
    margin-left: 10px;
    margin-right: 10px;
}

/* register.html */
.id_input {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 8px; /* 다른 입력 필드와 간격 맞추기 */
}

.id_input input[type="text"] {
    flex-grow: 1;
    margin-right: 10px; /* 중복체크 버튼과의 간격 */
    margin-bottom: 0; /* 기존 마진 제거 */
}

.id_input .submit_button {
    width: 30%; /* 버튼 너비 조정 */
}

.id_input .submit_button input[type="button"] {
    width: 100%;
    height: 34px; /* ID 입력 필드와 높이 맞추기 */
    padding: 0 10px; /* 좌우 패딩만 주기 */
    font-size: 12px; /* 글씨 크기 조정 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.hide {
    display: none;
}