<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>파일업로드 테스트</title>
    <link rel="stylesheet" href="../../static/css/file_list.css">
    <style>
        .highlight {
            border: 2px solid red;
        }
    </style>
</head>
<body>

<div class="row mt-5" id="file-upload-container">
    <div class="col-md-4 offset-md-2 text-center">
        <div class="mb-5 d-flex justify-content-end">
            <a class="btn btn-info text-white" href="#" onclick="validateAndNavigate('/file/getList')">파일목록</a>
        </div>
        <h2>1. 파일 업로드 테스트(thymeleaf 사용) </h2>
        <form id="uploadForm" action="/file/save" enctype="multipart/form-data" method="post" onsubmit="return validateForm()">
            <label>사용자 이름</label>
            <input type="text" name="userName" id="userName" th:value="${userName}">
            <br>
            <input type="file" name="uploadFile" id="uploadFile1" th:value="${multipartFile}"/>
            <button type="submit">파일업로드</button>
        </form>
        <br>
        <div class="imgView" id="image_container1"></div>
    </div>
</div>

<script>
    function validateAndNavigate(url) {
        var userNameInput = document.getElementById('userName');

        if (userNameInput.value.trim() === '') {
            userNameInput.classList.add('highlight');
            alert('사용자 이름을 입력하세요.');
            return false;
        } else {
            userNameInput.classList.remove('highlight');

            window.location.href = url + '?userName=' + encodeURIComponent(userNameInput.value);
            return false;
        }
    }

    function validateForm() {
        var userNameInput = document.getElementById('userName');

        if (userNameInput.value.trim() === '') {
            userNameInput.classList.add('highlight');
            alert('사용자 이름을 입력하세요.');
            return false;
        } else {
            userNameInput.classList.remove('highlight');
            return true;
        }
    }
</script>

</body>
</html>
