<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="css/file_list.css" />
</head>
<body>
<div class="container">
    <header>
        <span id="main-name">Cloud Storage</span>
        <div class="upload-section">
            <form action="/file/uploadFile" method="post" enctype="multipart/form-data">
                <label for="uploadFile">업로드 파일 선택</label>
                <input type="file" id="uploadFile" name="uploadFile" style="display:none">
                <input type="hidden" name="userName" th:value="${userName}">
                <input type="hidden" name="includeDir" th:value="${includeDir}">
                <button type="submit" class="btn btn-primary btn-sm pl-3 pr-3">등록</button>
            </form>
            <form action="/file/createFolder" method="post" enctype="application/x-www-form-urlencoded">
                <input type="text" name="folderName" placeholder="New Folder Name">
                <input type="hidden" name="userName" th:value="${userName}">
                <input type="hidden" name="includeDir" th:value="${includeDir}">
                <button type="submit" class="btn btn-primary btn-sm pl-3 pr-3"> + New Folder</button>
            </form>
        </div>
        <a href="/logout" class="logout-btn">로그아웃</a>
    </header>
    <div class="section">
        <div class="aside">
            <h2>Drive</h2>
            <div class="edrive-size-info" th:with="totalGB=${totalSize/(1024*1024*1024)}">
                <span th:text="${#numbers.formatDecimal(totalGB,1,2)}" th:value="0.00"></span> GB of 15GB Used
            </div>
            <div class="button">
                <input type="button" value="+ 추가" />
            </div>
            <div class="menu">
                <div class="button">
                    <input type="button" value="My drive" />
                </div>
                <ul class="main-list-box">
                    <li>
                        <div style="padding-left: 1em;">
                            <i class="fas fa-caret-down"></i>
                            <a th:href="@{/file/getList}"><b>내 파일</b></a>
                        </div>
                        <div th:if="${#lists.isEmpty(fileList)}">등록된 데이터가 없습니다.</div>
                        <th:block th:unless="${#lists.isEmpty(fileList)}" th:remove="tag">
                            <ul class="sub-list-box" th:fragment="file-tree">
                                <li th:each="file : ${fileList}" th:id="${file.metadata.fileSeq}" th:with="isDir=${file.metadata.fileType == 1}">
                                    <div th:class="${isDir ? 'pl-8' : 'pl-4'}">
                                        <i th:class="${isDir ? 'fas fa-folder' : 'fas fa-file'}"></i>
                                        <span th:text="${file.metadata.fileName}"></span>
                                    </div>
                                    <th:block th:if="${isDir and not #lists.isEmpty(file.subFiles)}">
                                        <ul class="sub-list-box" th:replace="this :: file-tree(files=${file.subFiles})"></ul>
                                    </th:block>
                                </li>
                            </ul>
                        </th:block>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <h2>File List</h2>
            <div class="edrive-table-head">
                <div>Name</div>
                <div>Date Modified</div>
                <div>Type</div>
                <div>Size</div>
            </div>
            <div th:if="${fileList.isEmpty()}">등록된 데이터가 없습니다.</div>
            <th:block th:unless="${#lists.isEmpty(fileList)}" th:remove="tag">
                <div th:each="file : ${fileList}" class="edrive-table-data-row" th:value="${file.metadata.fileSeq}" th:id="${file.metadata.fileSeq}">
                    <i class="fas fa-folder edrive-file-icon"></i>
                </div>
            </th:block>
            <div th:if="${not fileList.isEmpty()}">
                <div th:each="fileInfo, iterStat : ${fileList}" class="edrive-table-data-row" th:value="${fileInfo.fileSeq}" th:id="'fileInfoElement_' + ${iterStat.index}">
                    <div th:if="${fileInfo.fileType == 1}" class="data-name">
                        <i class="fas fa-folder edrive-file-icon"></i>
                        <a th:href="@{/file/getList(userName=${userName}, includeDir=${fileInfo.fileSeq})}" th:text="${fileInfo.fileName}"></a>
                    </div>
                    <div th:if="${fileInfo.fileType == 0}" class="data-name">
                        <i class="fas fa-file edrive-file-icon"></i>
                        <a href="" th:text="${fileInfo.fileName}"></a>
                    </div>
                    <div class="data-info" th:text="${fileInfo.createTime}"></div>
                    <div th:if="${fileInfo.fileType == 1}" class="data-info">Folder</div>
                    <div th:if="${fileInfo.fileType == 0}" class="data-info">File</div>
                    <div class="data-info" th:text="${fileInfo.fileSize}"></div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>

<!--<ul th:id="contextMenu" class="contextmenu" th:value="${userName}">-->
<!--    <li><a th:id="delete" href="#">삭제</a></li>-->
<!--    <li><a th:id="download" href="#">다운로드</a></li>-->
<!--    <li><a th:id="rename" href="#">이름 변경</a></li>-->
<!--    <li><a th:id="move" href="#">이동</a></li>-->
<!--    <li><a th:id="copy" href="#">복사</a></li>-->
<!--</ul>-->

<!--<div th:id="sideList" th:value="${sideList}"></div>-->
<!--<div th:id="userName" th:value="${userName}"></div>-->
<!--<div th:id="includeDir" th:value="${includeDir}"></div>-->
<script type="text/javascript" src="/js/file_list.js"></script>
</body>
</html>