<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <style>
        .message{
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 15px;
            color: #ff0000;
            font-weight: bold;
        }
    </style>
</head>

<body>

<div class="container">
    <div class="header"><i>Cloud Storage Web Service</i></div>
    <h2>비밀번호 찾기</h2>

    <form id="inputForm" action="" method="post">
        <div class="typeInput">
            <input type="text" id="userId" name="userId" placeholder="ID" required>
            <div class="failure-message message hide">아이디는 4~12글자이어야 합니다</div>
            <div class="failure-message2 message hide">영어 또는 숫자만 가능합니다</div>

            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="phoneNumber" required>
            <div class="phoneNumber-failure-message message hide">올바른 전화번호가 아닙니다.</div>

            <input type="text" id="email" name="email" placeholder="email" required>
        </div>
        <div class="submit_button">
            <input type="submit" id="findPasswordButton" value="비밀번호 찾기" />
        </div>
    </form>
    <form id="changePasswordForm" style="display: none;">
        <div class="typeInput">
            <input type="password" id="nextPassword" name="nextPassword" placeholder="새 비밀번호" required>
            <div class="strongPassword-message message hide">8글자 이상, 영문, 숫자, 특수문자(@$!%*#?&)를 사용하세요</div>

            <input type="password" id="nextPasswordRetype" name="nextPasswordRetype" placeholder="새 비밀번호 확인" required>
            <div class="mismatch-message message hide">비밀번호가 일치하지 않습니다</div>
        </div>
        <div class="submit_button">
            <input type="submit" id="changePasswordButton" value="비밀번호 변경" />
        </div>
    </form>
</div>
<script type="module" src="js/findPassword.js" defer></script>
</body>
</html>