<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/findInfo.css" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
</head>

<body>

<div class="findSection">
    <div class="header"><i>Cloud Storage Web Service</i></div>
    <div class="selector">
        <input id="find-id-btn" type="checkbox" onclick="ShowHideDiv(find-id-btn)"/>
        <label for="find-id-btn">아이디 찾기</label>
        <input id="find-password-btn" type="checkbox" onclick="ShowHideDiv(find-password-btn)"/>
        <label for="find-password-btn">비밀번호 찾기</label>
    </div>

    <form id="find-id-Form" action="" method="post">
        <div class="find_input">
            <input type="text" id="userName" placeholder="userName" required>
            <input type="text" id="id-phoneNumber" placeholder="phoneNumber" required>
            <input type="text" id="id-email" placeholder="email" required>
        </div>
        <button class="button" type="submit" id="find-id">아이디 찾기</button>
    </form>

    <form id="find-password-Form" action="" method="post">
        <div class="find_input">
            <input type="text" id="ps-id" placeholder="ID" required>
            <input type="text" id="ps-phoneNumber" placeholder="phoneNumber" required>
            <input type="text" id="ps-email" placeholder="email" required>
        </div>
        <button class="button" type="submit" id="find-password">비밀번호 찾기 찾기</button>
    </form>

</div>
</body>
</html>