<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <title>로그인</title>
</head>
<body>
<header>head</header>
<nav></nav>
<section>
    <span class="loginSection">
        <h2>Login</h2>
        <form id="loginForm" action="/login" method="get" >
            <div class="login_input">
                <input type="text" id="userName" class="account" placeholder="ID" required>
                <input type="text" id="password" class="account" placeholder="Password" required>
            </div>
            <label for="remember-check">
                <input type="checkbox" id="remember-check"> 아이디 저장하기
            </label>
            <div class="submit_button">
                <button type="submit">로그인</button>
                <button onclick="location.href=''">회원가입</button>
            </div>
        </form>
    </span>
</section>
<footer></footer>
</body>
</html>
