
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <script src="js/register.js"></script>
    <style>
        #idCheckResult{
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header"><i>Cloud Storage Web Service</i></div>
        <h2 class="logo">회원가입</h2>
        <form id="inputForm" action="/register" method="post">
            <div class="typeInput">
                <div class="id_input">
                    <input type="text" id="userId" name="userId" placeholder="ID" required>
                    <div class="submit_button">
                        <input type="button" id="checkDuplicate" value="중복체크" />
                    </div>
                </div>
                <div id="idCheckResult"></div>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <input type="text" id="userName" name="userName" placeholder="userName" required>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="phoneNumber" required>
                <input type="text" id="email" name="email" placeholder="email" required>
            </div>
            <div class="submit_button">
                <input type="submit" value="회원 가입" />
            </div>
        </form>
    </div>
<footer></footer>
</body>
</html>