
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
</head>
<body>
    <div class="container">
        <div class="header"><i>Cloud Storage Web Service</i></div>
        <h2 class="logo">회원가입</h2>
        <form id="inputForm" action="/register" method="post">
            <div class="typeInput">
                <div class="id_input">
                    <input type="text" id="ID" placeholder="ID" required>
                    <div class="submit_button">
                        <input type="button" id="checkDuplicate" value="중복체크" />
                    </div>
                </div>
                <input type="password" id="password" placeholder="Password" required>
                <input type="text" id="userName" placeholder="userName" required>
                <input type="text" id="phoneNumber" placeholder="phoneNumber" required>
                <input type="text" id="email" placeholder="email" required>
            </div>
            <div class="submit_button">
                <input type="submit" value="회원 가입" />
            </div>
        </form>
    </div>
<footer></footer>
</body>
</html>